<!--
 * @Description: 
 * @Author: yao yu qing
 * @Date: 2021-12-20 11:43:27
 * @LastEditTime: 2022-01-10 14:06:58
 * @LastEditors: yyq
 * @FilePath: \tampermonkey-vue\src\app.vue
-->
<template>
  <div class="test" :class="{ isPc: isPc }">
    <el-button class="menu-btn" type="primary" @click="drawer = true">
      测试
    </el-button>
    <el-drawer
      v-model="drawer"
      title="模板测试项"
      :size="size"
      :direction="direction"
    >
      <el-scrollbar>
        <div class="item-module" v-if="isPc">
          <h3>板块相关</h3>
          <template v-for="item in mlists" :key="item.mlist">
            <p>{{ item.name }}</p>
            <ul>
              <li>
                <span>幻灯开关：</span>
                <el-switch
                  v-model="item.slider"
                  @change="switchSlider($event, item)"
                />
                <template v-if="item.slider">
                  <el-button
                    class="refresh"
                    type="primary"
                    :loading="item.refresh"
                    round
                    @click="sliderRefresh(item)"
                    ><i class="re-icon"></i
                  ></el-button>
                  <div class="item-opt">
                    幻灯数量：<el-input-number
                      v-model="item.sliderOption.items"
                      :min="1"
                      :max="12"
                      @change="sliderNumChange($event, item)"
                    />
                  </div>
                </template>
              </li>
            </ul>
          </template>
          <div>
            <p>图文板块</p>
            <el-radio-group
              v-model="mcustomize.layout"
              size="small"
              @change="changeMcustomize"
            >
              <el-radio-button label="initlayout">默认</el-radio-button>
              <el-radio-button label="tlir">文左图右</el-radio-button>
              <el-radio-button label="tril">文右图左</el-radio-button>
            </el-radio-group>
          </div>
        </div>
        <div class="item-module">
          <h3>插入底部信息</h3>
          <template v-for="item in footerInfo" :key="item.name">
            <p>{{ item.name }}</p>
            <el-radio-group
              v-model="item.isShow"
              size="small"
              @change="changeFooterInfo($event, item)"
            >
              <el-radio-button label="1">插入</el-radio-button>
              <el-radio-button label="-1">移除</el-radio-button>
            </el-radio-group>
          </template>
        </div>
      </el-scrollbar>
    </el-drawer>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      isPc: false,
      drawer: false,
      lang: {
        project: "产品板块",
        team: "团队板块",
        service: "服务板块",
        news: "新闻板块",
        videom: "视频板块",
        imagelink: "合作板块",
      },
      mcustomize: {
        mlist: "mcustomize",
        name: "图文板块",
        layout: "initlayout",
      },
      mlists: [],
      footerInfo: [
        {
          name: "版权",
          isShow: -1,
          text: `<span id="flogodes" style="vertical-align: top;display: inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;技术支持</span>
          <a id="flogo" rel="nofollow" target="_blank" href="http://www.uemo.net" title="UEmo极速建站"
          ><img src="//resources.jsmo.xin/templates/upload/2/logo/logo.png" width="50" height="20" alt="UEmo极速建站,网站模板,网站建设,网站制作" /></a>`,
          textM: `<strong>&nbsp;&nbsp;&nbsp;&nbsp;技术支持</strong><a id="flogo" target="_blank" href="http://www.uemo.net"><img src="//resources.jsmo.xin/templates/upload/2/logo/logo.png" width="50" height="20"></a>`,
        },
        {
          name: "公安备案",
          isShow: -1,
          text: `<a class="gongan_beian" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37131202371681" target="_blank"><img src="//resources.jsmo.xin/templates/upload//15776/gonganbeian.png"><span>鲁公网安备 37131202371681号</span></a>`,
        },
      ],
    };
  },
  computed: {
    direction: function () {
      return this.isPc ? "rtl" : "ttb";
    },
    size: function () {
      return this.isPc ? "15%" : "50%";
    },
  },
  methods: {
    switchSlider(val, item) {
      if (val) {
        this.sliderOn(item);
      } else {
        this.sliderOff(item);
      }
    },
    sliderOn(item) {
      let dom = "." + item.mlist;
      let $wrap = $(".content_wrapper", dom);
      let $con = $(".content_list", dom);

      if ($wrap.data("slider-num")) {
        item.sliderOption.items = $wrap.data("slider-num");
        item.sliderOption.loop = $wrap.data("slider-loop");
      }

      $(dom).addClass("ff_slider").removeClass("ff_noSlider");
      $con.addClass("owl-carousel owl-theme").owlCarousel(item.sliderOption);
    },
    sliderOff(item) {
      let dom = "." + item.mlist;
      let $con = $(".content_list", dom);

      $con.trigger("destroy.owl.carousel").removeClass("owl-carousel");
      $(dom).addClass("ff_noSlider").removeClass("ff_slider");
    },
    sliderNumChange(val, item) {
      item.sliderOption.items = val;
    },
    sliderRefresh(item) {
      item.refresh = true;

      let dom = "." + item.mlist;
      let $con = $(".content_list", dom);

      const owlOpts = $con.data("owl.carousel").options;
      $.extend(owlOpts, item.sliderOption);
      $con.one("refreshed.owl.carousel", () => {
        item.refresh = false;
      });

      $con.trigger("refresh.owl.carousel");
    },
    changeFooterInfo(val, item) {
      // item.isShow = val;
      let $addDom = $(item.text);
      if (!this.isPc && item.name == "版权") {
        $addDom = $(item.textM);
      }
      if (val == 1) {
        $("#footer p").append($addDom);
      } else {
        if (item.name == "版权") {
          $("#flogodes, #flogo, strong").remove();
        } else {
          $(".gongan_beian").remove();
        }
      }
    },
    changeMcustomize(val) {
      $(".mcustomize").removeClass("initlayout tlir tril").addClass(val);
    },
  },
  mounted() {
    this.isPc = $(".agent-pc")[0] ? true : false;
    if (this.isPc) {
      $(".mlist").each((i, dom) => {
        this.mlists.push({
          mlist: $(dom).attr("class").split(" ")[1],
          name: this.lang[$(dom).attr("class").split(" ")[1]],
          slider: $(dom).hasClass("ff_slider") ? true : false,
          refresh: false,
          sliderOption: {
            items: 2,
            margin: 50,
            loop: 0,
            nav: true,
            navText: [
              '<i class="icon iconfont icon-back"></i>',
              '<i class="iconfont icon-more"></i>',
            ],
          },
        });
      });

      this.mcustomize.layout = $(".mcustomize")
        .attr("class")
        .split(" ")
        .slice(-1)[0];
    }
  },
};
</script>

<style lang="scss">
[id*="app_vue_"] {
  z-index: 99999;
  position: fixed;
}
.test {
  .menu-btn {
    position: fixed;
    top: 20px;
    right: 50px;
  }
  .el-drawer__header {
    font-size: 30px;
  }
  .el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled) {
    box-shadow: none;
  }
}

.item-module {
  padding-bottom: 30px;
  h3 {
    font-size: 22px;
    line-height: 40px;
  }
  p {
    font-size: 16px;
    line-height: 40px;
  }
  ul {
    margin-bottom: 20px;
    li {
      span {
        line-height: 20px;
      }
    }
  }
}

.refresh.is-round {
  height: 20px;
  vertical-align: top;
  margin-left: 20px;
  padding: 0px 10px;
  &.is-loading {
    .el-icon {
      position: absolute;
    }
    [class*="el-icon"] + span {
      margin-left: 0;
    }
    .re-icon {
      opacity: 0;
    }
  }
}

.re-icon {
  opacity: 1;
  &::before {
    content: "\e634";
    font-family: mofont;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    line-height: inherit;
    display: inline-block;
    vertical-align: bottom;
    text-transform: none;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    speak: none;
    text-rendering: auto;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    color: #fff;
    transform: translateY(-1px);
  }
}

.item-opt {
  padding: 8px 0;
}
</style>
